<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <h1>Bank product subscription prediction</h1>
        <div class="upload-area">
            <h2>Upload a csv file</h2>
            <form id="upload-csv-form" role="fole" onsubmit="return false">
                <input type="file" id="upload-file" name="csv" placeholder="Upload your csv file">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <h2 id="csv-uploaded" style="display: none;">CSV Uploaded</h2>
        <div class="analyse-area" style="display: none;">
            <h2>Analyse the data</h2>
            <form role="form">
                <input type="radio" name="model-choice" class="model-choice" id="rf" value="rf" checked>
                <label for="rf">Random Forests</label>
                <input type="radio" name="model-choice" class="model-choice" id="svm" value="svm">
                <label for="svm">SVM</label>
            </form>
            <button id="analyse" class="btn btn-danger">Analyse</button>
        </div>
        <h2 id="csv-analysed" style="display: none;">CSV Analysed</h2>
        <div class="after-area" style="display: none;">
            <h2>Test accuracy: <span id="test-accuracy"></span>%</h2>
            <form id="upload-more-test" role="form" onsubmit="return false">
                <input type="file" id="upload-test" name="test" placeholder="Upload csv for test">
                <button type="submit" class="btn btn-primary" id="test-btn">Test</button>
            </form>
            <h2>Or enter data directly</h2>
            <form id="enter-data-form" role="form" onsubmit="return false">
                <button type="submit" class="btn btn-primary" id="test-directly">Test directly</button>
            </form>
        </div>
        <div class="test-results-area" style="display: none;">
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>